*{text-align: center;user-select: none;}
*::selection {background-color: #bb993a !important; }
*::placeholder {color: #bb993a; }
body{background-color: #b28406;}
:root{--grid-row: 10fr 5fr 5fr;--grid-column:6fr 20fr;}
.gridContainer{display: grid;grid-template-rows: 1fr 8fr 1fr ;width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;}
nav{display: grid;width: 100%;height: 100%;grid-auto-flow: column;justify-content: space-between;align-items: center;list-style: none;padding: 0vw 2vw;font-size: 2vw;font-weight: 800;}
footer,header{background-color: #061242;}
.fa-question-circle{color: #e1d7bc !important;}

main{width: 100vw;height: 80vh;overflow-y: auto;overflow-x: hidden;display: grid;grid-template-rows: 2fr 8fr;}
main::-webkit-scrollbar{background: #061242;border-radius: 0.7vh;width: 0.5vw;padding: 0.5vw;position: relative;right: 0.5vw;}
main::-webkit-scrollbar-thumb{background: #061242;border-radius: 0.7vh;width: 0.5vw;padding: 0.5vw;position: relative;right: 0.5vw;}
main::-webkit-scrollbar-track{background: #b28406;border-radius: 0.7vh;width: 0.5vw;padding: 0.5vw;position: relative;right: 0.5vw;}
.search{display: grid;grid-auto-flow: column;justify-content: center;align-items: center;font-size: 1.5vw;padding-top: 1.7vh;position: static;width: 100vw;}

.search>.fa-search{grid-area: 1/14/1/19;padding-right:0  0.5vw;position: relative;left: 1.2vw;position: static;top: 10vh;left: 35vw;}
.search>input{width: 30vw;background-color: transparent;border: none;outline: none;border: #061242 solid 0.2vh;text-align: left;padding: 0.3vw 3.7vw 0.3vw 0.8vw;font-size: 1vw;font-weight: 600;border-radius: 5.0vh;grid-area: 1/2/1/20;color: #061242 !important;position: static;top: 10vh;left: 35vw;z-index: 10}
.perCon{display: grid;grid-template-columns: 3fr 3fr 3fr;width: 100vw;height: 100%;gap: 2vw;align-items: center;justify-items: center;padding: 0vw 2vw;position: relative;bottom: 7vh;}
.per{background-color: #061242;height: 80%;width: 100%;border-radius: 1.0vh;display: grid;grid-template-rows: 3fr 6fr 1fr;align-items: center;}
.perHead{font-size: 1.7vw;font-weight: 700;height: 100%;align-content: center;}
.perMain{font-size: 1.1vw;font-weight: 600;padding: 0vw 1.5vw;display: grid;grid-template-rows: 7fr 3fr;height: 100%;}
.perMain>span{text-align: left;align-content: start;overflow-y: auto;overflow-x: hidden;}
.perMain>span::-webkit-scrollbar{display: none;}
.perMain>button{padding: 1.2vw 1vw;background-color: #b28406;border: none;outline: none;border-radius: 2vw;color: #061242;font-size: 1.1vw;font-weight: 700;align-content: center;height: max-content;}
.perFooter{display: grid;grid-auto-flow: column;justify-content: space-around;font-size: 1.2vw;}